# api
DATABASE_URL=postgresql://postgres:postgres@localhost:54322/postgres
SUPABASE_URL=
SUPABASE_SERVICE_KEY=
SUPABASE_STORAGE_BUCKET=vistoria-photos
GOOGLE_APPLICATION_CREDENTIALS=./gcp-vision.json
JWT_SECRET=dev-change-me
JWT_REFRESH_SECRET=dev-change-me-too
# web
NEXT_PUBLIC_API_URL=http://localhost:3333
# mobile
EXPO_PUBLIC_API_URL=http://localhost:3333
